!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!                        !!!!!!!!!!!!!!!!!!!!!! 
!!!!! .Xresources / RESLOVED !!!!!!!!!!!!!!!!!!!!!! 
!!!!!                        !!!!!!!!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!!!! URXVT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt*scrollBar: false

! FONT
URxvt*font: xft:Hasklug Nerd Font Mono:size=8

! BORDER
URxvt*borderWidth: 0
URxvt*internalBorder: 24

! SPECIAL
URxvt*foreground:   #ffffff
URxvt*background:   #1b1d1e
! BLACK
URxvt*color0:       #465457
URxvt*color8:       #1b1d1e
! RED
URxvt*color1:       #d7005f
URxvt*color9:       #d7005f
! GREEN
URxvt*color2:       #87ff00
URxvt*color10:      #87ff00
! YELLOW
URxvt*color3:       #ff8700
URxvt*color11:      #ff8700
! BLUE
URxvt*color4:       #acac85
URxvt*color12:      #acac85
! MAGENTA
URxvt*color5:       #af5fff
URxvt*color13:      #af5fff
! CYAN
URxvt*color6:       #5fd7ff
URxvt*color14:      #5fd7ff
! WHITE
URxvt*color7:       #f8f8f8
URxvt*color15:      #ffffff

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
