/***** Rofi / RESLOVED ****************************/

configuration {
window-format: "{n}";
}

* {
background-color:      #1b1d1e00;
border-color:          #ffffff44;
text-color:            #ffffffff;
font:                  "Hasklug Nerd Font Mono Bold 11";
}

#window {
anchor:     north;
location:   north;
width:      100%;
padding:    14px 48px 16px 48px;
children:   [ horibox ];
}

#horibox {
orientation: horizontal;
children:   [ prompt ];
}